  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a routerLink="/preguntas">
        <img src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330" alt="" width="200" height="75">
      </a>
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/preguntas" class="nav-link px-2 link-dark">Pregutas</a></li>
        <li *ngIf="!dataUser;else cerrarSesion"><a routerLink="/login" class="nav-link px-2 link-dark">Iniciar Sesión</a></li>
        <ng-template #cerrarSesion><li><a routerLink="/preguntas" class="nav-link px-2 link-dark" (click)="logOut()">Cerrar Sesión</a></li></ng-template>

      </ul>
    </header>
  </div>