<app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="card text-center">
          <div class="card-header fs-1 font1">
            {{ question?.answers?.length }}
            
          </div>
          <div class="card-body" >
            <h5 class="card-text font1">Total Respuestas</h5>
          </div>
          <div class="card-footer text-muted">            
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card text-center">
          <div class="card-header fs-1 font1">
            {{ question?.question }}
           
          </div>
          <div class="card-body" style="margin-right: 40px; margin-left: 40px">
            <h5 class="card-text font1">Tipo: {{ question?.type }}</h5>
            <p class="card-text font1">Categoria: {{ question?.category }}</p>
          </div>
          <div class="card-footer text-muted">
            <app-answer [item]="question"></app-answer>
          </div>
        </div>
      </div>
      <div class="col-5">
                <!---->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h5 class="text-center">Calificación </h5>
                      <p-rating [cancel]="false" [(ngModel)]="mean" [disabled]="true"></p-rating>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <p style="margin-left: 3px">Calificación Promedio: {{mean}}</p>           
                    <div class="accordion-body">
                      <strong></strong> 
                    </div>
                  </div>
                </div>
                <!---->
        <div class="accordion" id="accordionExample"  *ngFor="let questions of answers">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5 class="text-center">Respuesta: </h5>
                <p-rating  [cancel]="false" [(ngModel)]="questions.position" [disabled]="true"></p-rating>               
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <p style="margin-left: 3px">{{ questions.answer}}</p>  
              <p style="margin-left: 3px" *ngIf="questions.updated;else dataCreated"> fecha actualización: {{ questions.updated | date }}</p> 
              <ng-template #dataCreated><p style="margin-left: 3px"> fecha creación: {{questions.created | date }}</p></ng-template>         
              <ng-template #content let-modal>
                <div class="modal-body">
                    <div class="container">
                        <div class="card text-center">
                                <div class="card-header fs-4 font1">
                                    <b>Modifica tu respuesta</b>
                                </div>
                                <div class="card-body p-4">
                                    <div class="form-floating">
                                        <textarea  [(ngModel)]="questions.answer" class="form-control m-2" placeholder="Leave a comment here" id="question" style="height: 150px"
                                        ></textarea>
                                        <label for="floatingTextarea">Respuesta</label>
                                    </div>                         
                                    <p-rating [cancel]="false" [(ngModel)]="questions.position"></p-rating>
                                    <br>
                                    <button pButton (click)="updateAnswer(questions)" pRipple type="button" label="Enviar respuesta" class="p-button-outlined p-button-info"></button>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">            
                        <button pButton pRipple type="button" label="Cerrar" class="p-button-outlined p-button-secondary" (click)="modal.close('Close click')"></button>
                </div>
              </ng-template>
              <button *ngIf="questions.userId == userIdQuestion" (click)="openVerticallyCentered(content)" style="margin-left: 3px; margin-right: 3px;" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"> editar</i></button>
              <button *ngIf="questions.userId == userIdQuestion" (click)="eliminar(questions.id)" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i> eliminar</button>
              <div class="accordion-body">
                <strong></strong> 
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

